<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Tmoney 교통복지플랫폼"/>
  <meta name="keywords" content="Tmoney 교통복지플랫폼"/>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Tmoney 교통복지플랫폼" />
  <meta property="og:description" content="Tmoney 교통복지플랫폼" />

  <title th:text="${pageTitle} ?: 'Tmoney 교통복지플랫폼'">Tmoney 교통복지플랫폼</title>

  <!-- 정적 리소스: /static/css/** → /css/** -->
  <link rel="stylesheet" th:href="@{/css/vendor/aos.css}" />
  <link rel="stylesheet" th:href="@{/css/vendor/swiper-bundle.min.css}" />
  <link rel="stylesheet" th:href="@{/css/index.css}" />
  <link rel="stylesheet" th:href="@{/css/page/page.css}" />
</head>
<body>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (window.AOS && !window.__aosInited) {
      AOS.init(); /* 옵션 필요 시 { duration: 600, once: true } */
      window.__aosInited = true;
    }
  });
</script>


<p id="skip-nav">
  <a href="#contents">본문으로 바로가기</a>
  <a href="#gnb1">주메뉴 바로가기</a>
</p>

<!-- 헤더에 header-jn 클래스 추가할 것 -->
<th:block th:replace="~{component/header :: siteHeader}"></th:block>

<main id="contents">
  <section class="section">
    <div class="container">
      <div class="mypage-wrap">
        <div class="mypage-header">
          <h2 class="section-title">마이페이지</h2>
        </div>
        <div class="dsshboard-box" role="region" aria-label="마이페이지 대시보드">
          <div class="col" aria-label="내 가입 지자체">
            <div class="box primary">
              <div class="flex">
                <h3><strong class="color-primary">티*니</strong> 님</h3>
                <a href="#" class="btn btn-primary size-sm">개명처리</a>
              </div>
              <p>현재 가입 지자체는</p>
              <strong>시흥시 입니다.</strong>
              <img src="/images/sub/img-rabbit.png" alt="티머니 마스코드 이미지">
              <a href="#" class="btn btn-primary size-lg">나의 지자체/가입한 사업 보기</a>
            </div>
            <a href="#" class="btn btn-darken-line size-lg">메인으로</a>
          </div>
          <div class="col"  aria-label="지원금 신청결과 및 내역">
            <div class="box">
              <h3 class="box-title">지원금 신청 결과</h3>
              <p><strong class="color-primary">티*니</strong>님 신청 완료 되었습니다.</p>
              <p>신청일자: 2025-07-04</p>
              <a href="#" class="btn btn-darken-line size-lg">상세 보기</a>
            </div>
            <div class="box secondary">
              <h3 class="box-title">나의 내역 조회</h3>
              <a href="#" class="link">
                <i class="icon icon-card" aria-hidden="true"></i>
                <p>지원금 내역조회</p>
              </a>
              <a href="#" class="link">
                <i class="icon icon-search" aria-hidden="true"></i>
                <p>이용내역조회</p>
              </a>
            </div>
            <button type="button" class="btn btn-primary size-lg">저장</button>
          </div>
          <div class="col" aria-label="카드 및 계좌관리">
            <div class="box">
              <h3 class="box-title">카드 관리</h3>
              <p class="flex">
                <span>00카드</span>
                <span class="color-darken">1000-16**-****-9999</span>
              </p>
              <p>2025-07-04</p>
              <a href="#" class="btn btn-darken-line size-lg">카드 변경 및 이력</a>
            </div>
            <div class="box">
              <h3 class="box-title">계좌 관리</h3>
              <p class="flex">
                <span>00은행</span>
                <span class="color-darken">티*니</span>
              </p>
              <p>11***********</p>
              <a href="#" class="btn btn-darken-line size-lg">계좌 변경 및 이력</a>
            </div>
            <button type="button" class="btn btn-red-line size-lg">지자체 사업 탈퇴</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<th:block th:replace="~{component/footer :: siteFooterJn}"></th:block>
<th:block th:replace="~{component/topBtn :: siteTop}"></th:block>

<script th:src="@{/js/vendor/aos.js}"></script>
<script th:src="@{/js/vendor/gsap.min.js}"></script>
<script th:src="@{/js/vendor/ScrollTrigger.min.js}"></script>
<script th:src="@{/js/vendor/swiper-bundle.min.js}"></script>

<script type="module" th:src="@{/js/common.js}"></script>

</body>
</html>
