<footer id="footer" th:fragment="siteFooter">
  <div class="container">
    <div class="flex">
      <div class="left">
        <h2>
          <a href="#" title="교통비지원 통합포털페이지 바로가기"></a>
        </h2>
      </div>
      <div class="right">
        <ul>
          <li>
            <a href="#">개인정보처리방침</a>
          </li>
          <li>
            <a href="#">이용약관</a>
          </li>
          <li>
            <a href="#">개인정보처리방침</a>
          </li>
          <li>
            <a href="#">사이트맵</a>
          </li>
        </ul>
        <b>(C) Tmoney Co., Ltd.</b>
        <address>서울특별시 중구 후암로 110 서울시티타워 티머니 고객센터 : 1644-0088</address>
      </div>
    </div>
  </div>
</footer>