<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 카멜/스네이크 자동 매핑 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="cacheEnabled" value="false"/>
        <setting name="callSettersOnNulls" value="true"/>
    </settings>

</configuration>