.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 48px;
  border-radius: 8px;
  padding: 0 20px;
  @include body-1;

  &.badge-notice {
    background-color: var(--color-primary);
    color: #fff;
  }
  &.primary {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
  &.secondary {
    background-color: var(--color-secondary);
    color: var(--color-white);
  }
}

/* ===== 세번째 분기: 1024px ===== */
@media (max-width: 1024px) {
  .badge {
    width: 60px;
    height: 36px;
    @include body-2;
  }
}

/* ===== 네번째 분기: 768px ===== */
@media (max-width: 768px) {
  .badge {
    width: 50px;
    height: 30px;
    @include body-3;
  }
}

/* ===== 다섯번째 분기: 480px ===== */
@media (max-width: 480px) {
  .badge {
    width: 40px;
    height: 30px;
  }
}