.container {
  width: 100%;
  max-width: 1530px;//1430
  margin: 0 auto;
  padding: 0 50px;
  &.fluid {
    max-width: 100%;
    padding: 0;
  }
  &.size-sm {
    max-width: 1060px;
  }
  &.size-xsm {
    max-width: 700px;
  }
}
  
/* ===== 첫 분기: 1430px ===== */
@media (max-width: 1430px) {
  .container {
    max-width: 100%;
    //padding: 0 50px;
  }
}

/* ===== 두번째 분기: 1200px ===== */
@media (max-width: 1200px) {
  
}

/* ===== 세번째 분기: 1024px ===== */
@media (max-width: 1024px) {
  // .container {
  //   padding: 0 50px;
  // }
}

/* ===== 네번째 분기: 767px ===== */
@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}