.textarea-box {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-darken);
  background-color: var(--color-white);
  border-radius: 8px;

  textarea {
    font-size: 16px;
    border: none;
    width: 100%;
    height: 213px;
    padding: 20px;
    resize: none;
    overflow-y: auto;
  }

  &:focus,
  &:hover {
    border: 1px solid var(--color-primary);
  }
  &.error {
    border: 1px solid var(--color-error);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 15px;
      color: var(--color-error);
      background-image: url("/images/icon/icon-error.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &:disabled {
    background-color: var(--bg-disabled);
    border: 1px solid var(--border-disabled);
    cursor: not-allowed;
    &:hover {
      border: 1px solid var(--border-disabled);
    }
  }
}