.attachment-box {
  margin-top: 50px;
  border-top: 1px solid var(--border-darken);
  .attachment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    .attachment-title {
      font-size: 20px;
    }
    .icon-box {
      .icon {
        &::before {
          content: '';
          width: 24px;
          height: 24px;
        }
      }
    }
    .btn-down {
      gap: 10px;
    }
  }
}
.attachment-list {
  margin-top: 20px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .file-item {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 1px solid #e6e6e6;
    &:hover {
      background-color: #fbfbfb;
      border: 1px solid var(--color-primary);
      .file-name {
        color: var(--color-darken);
      }
    }
    .file-icon {
      width: 36px;
      height: 36px;
      display: block;
      flex-shrink: 0;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
      }
      &.pdf {
        &:before {
          background-image: url(../../images/icon/icon-pdf.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      &.xls {
        &:before {
          background-image: url(../../images/icon/icon-xls.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      &.doc {
        &:before {
          background-image: url(../../images/icon/icon-doc.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      &.jpg {
        &:before {
          background-image: url(../../images/icon/icon-jpg.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      &.png {
        &:before {
          background-image: url(../../images/icon/icon-png.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      &.hwp {
        &:before {
          background-image: url(../../images/icon/icon-hwp.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      &.zip {
        &:before {
          background-image: url(../../images/icon/icon-zip.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }
    .file-name {
      font-size: 18px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      color: #adadad;
      max-width: calc(100% - 140px);
    }
    div {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .file-size {
      font-size: 16px;
      color: #adadad;
    }
  }
}