/* 박스 스타일 */
.gray-outer {
  background-color: var(--gray-200);
  border-radius: 24px;
  padding: 64px 180px;
  margin-top: 64px;
  .form-box {
    margin-top: 0;
  }
  .list-type li {
    @include body-3;
    &.color-red {
      &:before {
        background-color: var(--color-red);
      }
    }
    &:before {
      margin-top: -2px;
    }
  }
}
.fin-box {
  text-align: center;
  strong {
    @include heading-2;
  }
  span {
    @include heading-3;
  }
  .btn-wrap {
    gap: 16px;
    margin-top: 48px;
  }
}

.form-box {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 64px;
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    fieldset {
      display: flex;
      flex-direction: column;
      gap: 20px;
      &:first-child {
        .form-title {
          margin-top: 0;
        }
      }
      .btn {
        width: 120px;
        flex-shrink: 0;
        flex-direction: column;
        gap: 0;
        &.fluid {
          width: 100%;
        }
      }
    }
    .email {
      .dropdown {
        margin-top: 8px;
      }
    }
  }
  .form-title {
    @include heading-3;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-darken);
    margin-top: 28px;
  }
  .field-title {
    @include body-1;
    margin-bottom: 8px;
  }
  .guide-text {
    @include body-3;
    color: var(--gray-500);
    position: relative;
    padding-left: 12px;
    &::before {
      content: '※';
      display: block;
      position: absolute;
      left: 0;
      top: 0px;
    }
  }
  .caution-text {
    @include body-3;
    color: var(--color-error);
    position: relative;
    padding-left: 25px;
    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 2px;
      background-image: url('/images/icon/icon-caution.svg');
      background-size: contain;
      filter: brightness(0) saturate(100%) invert(36%) sepia(81%) saturate(1677%) hue-rotate(337deg) brightness(105%) contrast(84%);
    }
  }
}