.section-title {
  font-size: 48px;
  font-weight: 700;
}
.section-sub-title {
  @include heading-2;
}

/* title-wrap */
.title-wrap {
  padding-top: 100px;
  padding-bottom: 64px;
}

.page-header {
  padding-top: 120px;
  padding-bottom: 64px;
  .section-title { margin: 0 auto; }
  .with-img {
    display: flex;
    gap: 40px;
    margin-bottom: 24px;
    img {
      flex-shrink: 0;
      width: auto;
    }
    .section-title { 
      margin: 0; 
    }
  }
}


/* ===== 첫 분기: 1430px ===== */
@media (max-width: 1430px) {}

/* ===== 두번째 분기: 1200px ===== */
@media (max-width: 1200px) {
  .title-wrap {
    > .flex {
      flex-direction: column;
      gap: 20px;
    }
  }
}

/* ===== 세번째 분기: 1024px ===== */
@media (max-width: 1024px) {
  .page-header {
    padding: 50px 0;
  }
  .title-wrap {
    padding: 50px 0;
  }
}

/* ===== 네번째 분기: 767px ===== */
@media (max-width: 767px) {
  .section-title {
    @include heading-2;
  }
  .section-sub-title {
    @include heading-3;
  }
  .page-header {
    .with-img {
      gap: 20px;
      align-items: flex-start;
      img {
        width: 60px;
        object-fit: contain;
      }
    }
  }
}

/* ===== 다섯번째 분기: 500px ===== */
@media (max-width: 500px) {
  .page-header {
    padding: 30px 0;
  }
  .title-wrap {
    padding: 36px 0;
  }
}