@import "../../css/mixin";

.join-wrap {
  .join-header {
    padding-top: 120px;
    padding-bottom: 64px;
    border-bottom: 1px solid var(--gray-400);
    .section-title {
      margin: 0 auto;
      text-align: center;
    }
    .step-box {
      max-width: 512px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      margin-top: 32px;
      //gap: 64px;
      &.col3 {
        li {
          &:first-child {
            .circle {
              &::before {
                display: none;
              }
            }
          }
          &:last-child {
            .circle {
              &::after {
                display: none;
              }
            }
          }
        }
        .circle {
          &::before {
            content: '';
            width: 64px;
            height: 1px;
            background-color: var(--gray-300);
            position: absolute;
            top: 50%;
            right: 100%;
            transform: translateY(-50%);
          }
          &::after {
            content: '';
            width: 112px;
            height: 1px;
            background-color: var(--gray-300);
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
          }
        }
      }
      &.col4 {
        li {
          &:first-child {
            .circle {
              &::before {
                display: none;
              }
            }
          }
          &:last-child {
            .circle {
              &::after {
                display: none;
              }
            }
          }
        }
        .circle {
          &::before {
            content: '';
            width: 64px;
            height: 1px;
            background-color: var(--gray-300);
            position: absolute;
            top: 50%;
            right: 100%;
            transform: translateY(-50%);
          }
          &::after {
            content: '';
            width: 64px;
            height: 1px;
            background-color: var(--gray-300);
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
          }
        }
      }
      li {
        width: 100%;
        position: relative;
        overflow: hidden;
        &.active {
          .circle {
            background-color: rgba(var(--color-primary-rgb),0.1);
            //background-color: #f2e2f0;
            span {
              font-size: 0;
              width: 0;
              height: 0;
            }
            .icon {
              display: block;
            }
          }
          p {
            color: var(--color-darken);
          }
        }
        &:last-child {
          .circle {
            &::after {
              display: none;
            }
          }
        }
      }
      .circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--gray-200);
        position: relative;
        margin: 0 auto;
        span {
          font-size: 24px;
          color: var(--gray-900);
        }
        .icon {
          width: 20px;
          height: 20px;
          display: none;
          filter: brightness(0) saturate(100%) invert(10%) sepia(57%) saturate(7321%) hue-rotate(299deg) brightness(99%) contrast(101%);
          &.document {
            &::before {
              background-image: url('../../../static/images/icon/icon-document.svg');
              background-size: contain;
            }
          }
          &.lock {
            &::before {
              background-image: url('../../../static/images/icon/icon-lock.svg');
              background-size: contain;
            }
          }
          &.write {
            &::before {
              background-image: url('../../../static/images/icon/icon-write.svg');
              background-size: contain;
            }
          }
          &.home {
            &::before {
              background-image: url('../../../static/images/icon/icon-home.svg');
              background-size: contain;
            }
          }
          &.filter {
            &::before {
              background-image: url('../../../static/images/icon/icon-filter.svg');
              background-size: contain;
            }
          }
          &.check {
            &::before {
              background-image: url('../../../static/images/icon/icon-check.svg');
              background-size: contain;
            }
          }
        }
      }
      p {
        @include body-2;
        color: var(--gray-500);
        text-align: center;
        margin-top: 8px;
      }
    }
  }
  .line-box-wrap {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  .line-box {
    border: 1px solid var(--gray-400);
    border-radius: 15px;
    overflow: hidden;
    .top-box {
      border-bottom: 1px solid var(--gray-400);
      padding: 22px 40px;
      @include heading-3;
    }
    .bot-box {
      padding: 40px;
      height: 240px;
      background-color: var(--gray-200);
      @include body-3;
    }
    & + .btn-wrap {
      .btn {
        max-width: 200px;
      }
    }
  }
  .btn-wrap {
    justify-content: flex-end;
    gap: 20px;
    margin-top: 24px;
  }
  .finish {
    display: block;
    margin: 0 auto;
    margin-top: 54px;
    max-width: 420px;
    width: 100%;
  }

  //step2
  .step2-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 16px;
    button {
      width: 100%;
      background-color: var(--color-white);
      border: 1px solid var(--gray-400);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 8px;
      padding: 46px 10px;
      span {
        @include heading-3;
      }
    }
    .icon {
      width: 64px;
      height: 64px;
    }
    .kakao {
      .icon {
        &::before {
          background-image: url('../../../static/images/sub/img-kakaobank.png');
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
    .toss {
      .icon {
        &::before {
          background-image: url('../../../static/images/sub/img-toss.png');
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
    .phone {
      .icon {
        &::before {
          background-image: url('../../../static/images/sub/img-phone.png');
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
    .ipin {
      .icon {
        &::before {
          background-image: url('../../../static/images/sub/img-ipin.png');
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .form-box {
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .text-field {
        display: block;
        & + button {
          min-width: 120px;
        }
      }
    }
  }

  //지원사업가입
  .causion-text {
    margin-top: 64px;
    text-align: center;
    strong {
      @include heading-2;
      color: var(--gray-700);
    }
    .guide-text {
      @include body-3;
      color: var(--gray-600);
      margin-top: 12px;
    }
  }

  
  .file-box {
    .file-drop {
      margin-top: 8px;
    }
  }
}


/* ===== 세번째 분기: 1024px ===== */
@media (max-width: 1024px) {
  .join-wrap {
    .join-header {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .causion-text {
      margin-top: 50px;
    }
  }
}

/* ===== 네번째 분기: 767px ===== */
@media (max-width: 767px) {
  .join-wrap {
    .join-header {
      padding: 50px 20px;
      .step-box {
        gap: 0;
        .circle {
          width: 60px;
          height: 60px;
          &:after {

          }
        }
      }
    }
    .line-box-wrap {
      margin-top: 50px;
      gap: 36px;
    }
    .line-box {
      .top-box {
        padding: 10px 20px;
        @include body-2;
      }
      .bot-box {
        padding: 20px;
      }
    }
    .btn-wrap {
      gap: 10px;
      justify-content: center;
    }
    .finish {
      margin-top: 50px;
    }
    .causion-text {
      strong {
        @include heading-3;
        color: var(--gray-700);
      }
    }
    .form-box {
      form {
        .cardbox {
          display: grid;
          grid-template-columns: repeat(7, auto);
          .text-field + button {
            width: 100%;
            grid-column: 1 / -1;
          }
        }
        .bankbox {
          display: grid;
          grid-template-columns: repeat(2, auto);
          .text-field + button {
            width: 100%;
            grid-column: 1 / -1;
          }
        }
        .text-field {
          & + button {
            width: 91px;
            min-width: auto;
          }
        }
      }
    }
  }
}

/* ===== 다섯번째 분기: 500px ===== */
@media (max-width: 500px) {
  .join-wrap {
    .join-header {
      .step-box {
        p {
          @include body-3;
        }
      }
    }
    .finish {
      margin-top: 36px;
    }
    .step2-box {
      .icon {
        width: 50px;
        height: 50px;
      }
      button {
        padding: 20px;
        height: 148px;
        span {
          @include body-2;
        }
      }
    }
  }
}