.mypage-header {
  padding-top: 120px;
  .section-title {
    margin: 0 auto;
    text-align: center;
  }
}

.mypage-wrap {
  /* 대시보드 */
  .dsshboard-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열 */
    grid-auto-rows: minmax(80px, auto);
    gap: 48px;
    margin-top: 64px;
    .col {
      display: grid;
      //grid-template-rows: repeat(2, 1fr); /* 2행 (각 box 높이 50%) */
      grid-template-rows: 1fr 1fr;
      gap: 32px;
      &:first-child {
        grid-template-rows: 1fr;
        .box {
          height: 100%;
          >.flex {
            width: 100%;
            h3 {
              @include heading-3;
            }
            .btn {
              margin-top: 0;
              margin-left: auto;
              max-width: 110px;
            }
          }
        }
      }
    }
    .box {
      display: flex;
      padding: 32px 48px 40px 48px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      //gap: 24px;
      border-radius: 48px;
      border: 1px solid var(--gray-400);
      background-color: var(--color-white);
      min-height: 220px;
      &.primary {
        height: 100%;
        border: 0;
        background-color: var(--color-primary-hover);
        img {
          margin-top: 48px;
          margin-left: 40px;
        }
      }
      &.secondary {
        border: 0;
        background-color: var(--color-secondary-hover);
        .box-title {
          & + div {
            width: 100%;
          }
        }
      }
      h3 {
        @include heading-2;
        color: var(--gray-700);
      }
      .box-title {
        width: 100%;
        color: var(--color-darken);
        padding-bottom: 25px;
        border-bottom: 1px solid var(--color-darken);
        & + .dir-col {
          margin-top: 24px;
        }
      }
      p {
        @include heading-3;
        color: var(--gray-700);
        &.flex {
          gap: 10px;
          flex-wrap: wrap;
          align-items: center;
          .flex-bar {
            width: 1px;
            height: 20px;
            background-color: var(--gray-400);
          }
        }
      }
      strong {
        @include heading-2;
      }
      .btn {
        margin-top: auto;
      }
      .link {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 32px;
        padding: 27px 20px;//27px 48px
        border-radius: 8px;
        .icon {
          width: 56px;
          height: 56px;
          border-radius: 50%;
          background-color: #fff;
          &::before {
            width: 24px;
            height: 24px;
            filter: brightness(0) saturate(100%) invert(58%) sepia(95%) saturate(330%) hue-rotate(349deg) brightness(90%) contrast(98%);
          }
        }
        &:hover {
          background-color: var(--color-secondary);
          p {
            color: var(--color-white);
          }
        }
      }
    }
    .btn-wrap {
      grid-column: 1 / -1; /* 항상 전체 너비 */
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 48px;
      .btn {
        min-width: 220px;
      }
    }
  }
  /* 카드관리, 계좌관리 */
  .mng-wrap {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 48px;
    .table-wrap {
      .form-box {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 0;
        .dropdown,
        .text-field {
          width: 180px;
        }
      }
      &.type-row {
        .form-box {
          fieldset {
            width: 100%;
          }
          .dropdown,
          .text-field {
            & + .btn {
              width: 120px;
              flex-shrink: 0;
            }
            &.fluid {
              width: 100%;
            }
          }
        }
      }
    }
    .section-sub-title {
      margin-bottom: 24px;
    }
    .btn-wrap {
      justify-content: center;
      .btn {
        max-width: 600px;
      }
    }
    .pagination {
      margin: 0;
    }
  }
}
/* 마이페이지 상단 nav */
.mypage-nav {
  background-color: var(--gray-200);
  ul { 
    max-width: 1430px;
    margin: 0 auto;
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
  li {
    width: calc(100% / 7);
    position: relative;
    
    &:before {
      content: '';
      width: 1px;
      height: 37px;
      background-color: var(--gray-400);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:first-child {
      &::before {
        display: none;
      }
    }
  }
  a {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include body-2;
    color: var(--gray-500);
  }
  .active a {
    color: var(--gray-800);
    font-weight: 700;
  }
}

[data-theme="dark"] {
  .mypage-nav {
    a {
      color: var(--color-white);
    }
  }
  .mypage-wrap {
    .dsshboard-box {
      .box {
        border: 1px solid var(--color-darken);
        .link {
          &:hover {
            p {
              color: var(--color-darken);
            }
          }
        }
      }
    }
  }
}

/* ===== 첫 분기: 1430px ===== */
@media (max-width: 1430px) {
  .mypage-wrap {
    .dsshboard-box {
      gap: 40px;
      .box {
        padding: 30px;
        gap: 20px;
        border-radius: 40px;
        .link {
          gap: 20px;
          padding: 20px 10px;
        }
      }
    }
  }
}

/* ===== 두번째 분기: 1200px ===== */
@media (max-width: 1200px) {
  .mypage-wrap .dsshboard-box{
    grid-template-columns: 1fr 1fr; /* 좌 넓게, 우 보통 */
    gap: 32px;

    > .col:first-child{ grid-column: 1 / -1; } /* 첫 컬럼 전체 가로 확장 */
    > .col:nth-child(2){ grid-column: 1 / 2; }
    > .col:nth-child(3){ grid-column: 2 / 3; }

    .box{
      padding: 48px;//28px 32px 32px
      border-radius: 48px;//36px
      &.primary {
        position: relative;
        img {
          display: block;
          margin-left: auto;
          position: absolute;
          top: 142px;
          right: 0;
          margin-top: 0;
        }
        > .btn {
          margin-top: 250px;
        }
      }
    }
    .btn-wrap {
      gap: 32px;
    }
  }
}

/* ===== 세번째 분기: 1024px ===== */
@media (max-width: 1024px) {
  .mypage-header {
    padding-top: 50px;
  }
  .mypage-wrap {
    .dsshboard-box{
      grid-template-columns: 1fr 1fr; /* 균등 2열 */
      gap: 28px;
      margin-top: 50px;
      .box{
        padding:24px 28px 28px;
        border-radius:28px;
      }
      .box .link{ padding:22px 28px; gap:24px; }
      .box .link .icon{ width:48px; height:48px; }
      .btn-wrap {
        gap: 12px;
        .btn {
          flex: auto;
        }
      }
    }
    .mng-wrap {
      margin-top: 50px;
      .table-wrap {
        .form-box {
          .flex.align-center.gap8 {
            // flex-direction: column;
            // align-items: flex-start;
            flex-wrap: wrap;
            .cardbox {
              flex-shrink: 0;
              width: 100%;
              .text-field {
                width: 20%;
              }
            }
          }
        }
      }
    }
  }
  .mypage-nav {
    .container {
      padding: 0;;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      li {
        width: 100%;
        border: 0;
        &:last-child {
          border-right: 0;
        }
        &::before {
          display: none;
        }
        &:nth-child(4n) {
          a {
            border-right: 0;
          }
        }
        &:nth-child(n + 5) {
          a {
            border-bottom: 0;
          }
        }
        a {
          border-right: 1px solid var(--gray-400);
          border-bottom: 1px solid var(--gray-400);
        }
      }
    }
  }
}

/* ===== 네번째 분기: 767px ===== */
@media (max-width: 767px) {
  #contents .mypage-wrap {
    .dsshboard-box {
      display: grid; /* 안전망 */
      grid-template-columns: 1fr;
      gap: 20px;
      .col {
        gap: 24px;
      }
      > .col {
        grid-column: 1 / -1;
        grid-template-rows: auto;
      }

      .box {
        padding: 20px;
        border-radius: 24px;
        min-height: unset;

        .link {
          padding: 18px 20px;
          gap: 18px;
          border-radius: 16px;

          .icon { width: 44px; height: 44px; }
        }
      }
      .btn-wrap {
        display: flex;
        flex-wrap: wrap; /* 줄바꿈 허용 */
        justify-content: center;
        align-items: center;
        gap: 12px; /* 버튼 간격 조절 */
        width: 100%;
        .btn {
          //flex: 0 0 49%;
          //flex: 0 0 calc(50% - 12px);
          flex: auto;
          width: calc(50% - 12px);
          max-width: 50%;
          min-width: auto;
        }
        .btn-primary {
          flex: 0 0 100%;
          max-width: 100%;
          order: 3; /* 항상 마지막 줄로 이동 */
        }
        .btn-darken-line { order: 1; } /* 메인으로 */
        .btn-red-line { order: 2; }    /* 탈퇴 */
      }
    }
  }
  .mypage-wrap {
    .dsshboard-box {
      .col:first-child {
        .box > .flex h3 {
          @include body-2;
          font-weight: 700;
        }
      }
      .box {
        gap: 16px;
        .box-title {
          @include heading-3;
          padding-bottom: 20px;
        }
        p {
          @include body-2;
          font-weight: 700;
        }
        
        strong {
          @include heading-3;
          font-weight: 700;
        }
        &.primary {
          img {
            top: 104px;
            //width: 50%;
          }
        }
      }
    }
    .mng-wrap {
      gap: 24px;
      .table-wrap {
        .form-box {
          .flex.align-center.gap8 {
            // flex-direction: column;
            // align-items: flex-start;
            
            &.cardbox {
              flex-direction: row;
              align-items: center;
              .text-field {
                width: calc(25% - 2px);
              }
              .flex-bar {
                display: none;
              }
              button {
                margin-top: 20px;
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
  
}

/* ===== 다섯번째 분기: 500px ===== */
@media (max-width: 500px) {
  #contents .mypage-wrap .dsshboard-box .box {gap: 10px;}
  .mypage-wrap {
    .dsshboard-box {
      .box {
        .col {
          gap: 12px
        }
        .box-title {
          @include body-1;
          font-weight: 700;
          padding-bottom: 20px;
        }
        p {
          @include body-3;
          font-weight: 700;
        }
        h3 {
          @include body-1;
          font-weight: 700;
        }
        strong {
          @include heading-3;
          font-weight: 700;
        }
        .link {
          padding: 10px;
        }
        &.primary {
          img {
            //width: 70%;
            width: 246px;
          }
          > .btn {
            margin-top: 150px;
          }
        }
      }
    }
  }
  .mypage-nav {
    ul {
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }
}

/* ===== 여섯번째 분기: 360px ===== */
@media (max-width: 360px) {
  .mypage-wrap {
    .dsshboard-box {
      .box.primary {
        img {
          width: 200px;
        }
        >.btn {
          margin-top: 110px;
        }
      }
    }
  }
}