@import "../../css/mixin";

.terms-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .guide-text {
    display: block;
    @include body-3;
    position: relative;
    padding-left: 12px;
    margin-top: 10px;
    &::before {
      content: '※';
      display: block;
      position: absolute;
      left: 0;
      top: 0px;
    }
  }
  .labeling-box {
    .top-box {
      background-color: var(--gray-300);
      @include body-2;
      text-align: center;
      padding: 24px 0;
    }
    .bot-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--color-darken);
      .box {
        border: 1px solid var(--color-darken);
        display: flex;
        flex-direction: column;
        gap: 10px;
        .img-box {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            object-fit: contain;
          }
        }
        p {
          @include body-2;
          text-align: center;
        }
      }
    }
  }
  .line-box {
    border: 1px solid var(--gray-400);
    border-radius: 12px;
    padding: 40px;
    p {
      @include heading-3;
      font-weight: 400;
    }
    h3 {
      @include heading-2;
      color: var(--color-primary);
      padding-bottom: 16px
    }
    h4 {
      @include heading-3;
      color: var(--color-point);
    }
    .table-wrap {
      margin-top: 10px;
      .btn {
        max-width: 200px;
      }
    }
  }
}


/* ===== 세번째 분기: 1024px ===== */
@media (max-width: 1024px) {
  .terms-wrap {
    .line-box {
      padding: 20px;
    }
  }
}

/* ===== 네번째 분기: 768px ===== */
@media (max-width: 768px) {
  .terms-wrap {
    .line-box {
      h3 {
        @include heading-3;
        color: var(--color-primary);
      }
      p {
        @include body-2;
      }
    }
  }
}

/* ===== 다섯번째 분기: 480px ===== */
@media (max-width: 480px) {
  
}