@charset "UTF-8";
/* =========== =========== =========== */
/* =========== Typhogragh =========== */
/* =========== =========== =========== */
.heading-1 {
  font-size: 48px;
  font-weight: 700;
}

.heading-2 {
  font-size: 32px;
  font-weight: 700;
}

.heading-3 {
  font-size: 24px;
  font-weight: 600;
}

.body-1 {
  font-size: 24px;
  font-weight: 500;
}

.body-2 {
  font-size: 18px;
  font-weight: 400;
}

.body-3 {
  font-size: 16px;
  font-weight: 400;
}

.body-4 {
  font-size: 14px;
  font-weight: 400;
}

.caption-1 {
  font-size: 14px;
  font-weight: 400;
}

.caption-1 {
  font-size: 12px;
  font-weight: 400;
}

/* media */
/* ===== 세번째 분기: 1024px ===== */
/* ===== 네번째 분기: 767px ===== */
/* ===== 다섯번째 분기: 500px ===== */
.intro-wrap {
  overflow: hidden;
}
.intro-wrap #footer {
  margin-top: 100px;
}
.intro-wrap .section {
  margin-top: 160px;
}
.intro-wrap .title-box h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.intro-wrap .title-box p {
  font-size: 24px;
  font-weight: 600;
  font-weight: 400;
  text-align: center;
  color: var(--color-gray-800);
}
.intro-wrap .section1 {
  margin-top: 0;
}
.intro-wrap .section1 .container {
  height: auto;
  position: relative;
}
.intro-wrap .section1 .text-box {
  position: absolute;
  width: 100%;
  margin-top: 150px;
}
.intro-wrap .section1 .text-box h2 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}
.intro-wrap .section1 img {
  width: 100%;
}
.intro-wrap .section2 .text-box h2 {
  font-size: 60px;
  font-weight: 700;
}
.intro-wrap .section2 .text-box p {
  font-size: 24px;
  color: var(--gray-800);
}
.intro-wrap .section2 .img-box {
  width: 500px;
  flex-shrink: 0;
  margin-left: auto;
}
.intro-wrap .section3 .img-box {
  display: flex;
  height: 534px;
  padding: 95px 20px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 32px;
  background: linear-gradient(180deg, rgba(241, 142, 24, 0.1) 0%, var(--colors-primary-hover, rgba(146, 7, 131, 0.1)) 100%);
  margin-top: 64px;
}
.intro-wrap .section3 .img-box img {
  -o-object-fit: cover;
     object-fit: cover;
}
.intro-wrap .section4 {
  padding: 120px 0;
  background: linear-gradient(180deg, var(--colors-gray-200, #F5F5F5) 0%, rgba(245, 245, 245, 0) 100%);
  position: relative;
}
.intro-wrap .section4 .container {
  position: relative;
  z-index: 1;
}
.intro-wrap .section4 .title-box p {
  margin-top: 24px;
}
.intro-wrap .section4 .box-wrap {
  margin-top: 60px;
  display: flex;
  gap: 45px;
}
.intro-wrap .section4 .box {
  width: 100%;
  display: flex;
  padding: 40px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 24px;
  background: var(--color-white);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.intro-wrap .section4 .box .img-box {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: var(--color-primary-hover);
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-wrap .section4 .box h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--gray-800);
}
.intro-wrap .section4 .box div {
  display: flex;
  width: 200px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: var(--color-darken);
  color: var(--color-white);
  font-size: 24px;
  font-weight: 600;
  font-weight: 500;
}
.intro-wrap .section4 .bg-text {
  width: 468px;
  height: 468px;
  position: absolute;
  top: 120px;
  right: 20px;
  animation-name: text-rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 0;
}
.intro-wrap .section5 {
  margin-top: 0;
}
.intro-wrap .section5 .title-box h2,
.intro-wrap .section5 .title-box p {
  text-align: left;
}
.intro-wrap .section5 .flex {
  gap: 56px;
  justify-content: center;
  margin-top: 64px;
}
.intro-wrap .section5 .box {
  display: flex;
  width: 100%;
}
.intro-wrap .section5 .box .img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 15px 0 0 15px;
  background: var(--gray-200);
  padding: 20px 48px;
}
.intro-wrap .section5 .box .img-box img {
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
.intro-wrap .section5 .box .img-box h3 {
  font-size: 24px;
  font-weight: 600;
}
.intro-wrap .section5 .box .text-box {
  border: 1px solid var(--gray-400);
  border-radius: 0 15px 15px 0;
  display: flex;
  padding: 20px 48px;
  align-items: center;
  flex: 1 0 0;
  width: 100%;
}
.intro-wrap .section5 .box .text-box li {
  font-size: 24px;
  letter-spacing: -0.96px;
}
.intro-wrap .section5 .box .text-box li b {
  font-size: 24px;
  font-weight: 600;
  font-weight: 700;
  color: var(--gray-800);
}
.intro-wrap .section5 .box .text-box li + li {
  margin-top: 12px;
}
.intro-wrap .section6 .flex {
  margin-top: 64px;
  gap: 56px;
}
.intro-wrap .section6 .box {
  border: 1px solid var(--gray-400);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 48px;
  height: 208px;
  width: 100%;
}
.intro-wrap .section6 .box h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--gray-800);
}
.intro-wrap .section6 .box p {
  font-size: 96px;
  font-weight: 700;
  background: var(--TYPO, linear-gradient(180deg, rgba(245, 245, 245, 0.3) 0%, var(--colors-gray-200, #F5F5F5) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 1;
}
.intro-wrap .section6 .box img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.intro-wrap .section7 h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--gray-800);
  margin-top: 64px;
}
.intro-wrap .section7 .table-wrap {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}
.intro-wrap .section8 {
  position: relative;
}
.intro-wrap .section8 .title-box h2 {
  text-align: left;
}
.intro-wrap .section8 .card-wrap {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}
.intro-wrap .section8 .card-item {
  width: 100%;
}
.intro-wrap .section8 .card-item .img-box {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
}
.intro-wrap .section8 .card-item .img-box p {
  font-size: 2.5vw;
  font-weight: 500;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 20px;
}
.intro-wrap .section8 .card-item .img-box p span {
  font-size: 2.8vw;
  font-weight: 700;
}
.intro-wrap .section8 .card-item .img-box img {
  -o-object-fit: contain;
     object-fit: contain;
}
.intro-wrap .section8 .card-item h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--gray-800);
  text-align: center;
  margin-top: 24px;
}
.intro-wrap .section8 .vertical-text {
  overflow: hidden;
  position: absolute;
  bottom: 100px;
  z-index: -1;
}
.intro-wrap .section8 .vertical-text .con {
  display: flex;
  align-items: center;
  gap: 50px;
  white-space: nowrap;
  margin-right: 50px;
}
.intro-wrap .section8 .vertical-text span {
  color: var(--color-primary-hover);
  font-size: 200px;
  font-weight: 700;
  letter-spacing: -8px;
}
@keyframes text-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.intro-wrap .marquee {
  --dur: 20s;
  position: relative;
  width: 100%;
}
.intro-wrap .marquee .track {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  will-change: transform;
  animation: marquee var(--dur) linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* ===== 첫 분기: 1430px ===== */
@media (max-width: 1430px) {
  .intro-wrap .section1 .container {
    padding: 0;
    height: auto;
  }
  .intro-wrap .section1 .text-box {
    margin-top: 100px;
  }
  .intro-wrap .section1 .text-box h2 {
    font-size: 48px;
  }
  .intro-wrap .section2 .text-box h2 {
    font-size: 48px;
  }
  .intro-wrap .section4 .box-wrap {
    gap: 24px;
  }
  .intro-wrap .section4 .box {
    padding: 30px 10px;
  }
  .intro-wrap .section4 .box h3 {
    font-size: 32px;
  }
  .intro-wrap .section4 .box div {
    padding: 10px 20px;
    font-size: 18px;
  }
  .intro-wrap .section4 .box .img-box {
    width: 140px;
    height: 140px;
  }
  .intro-wrap .section5 .flex {
    gap: 24px;
  }
  .intro-wrap .section5 .box .img-box {
    padding: 10px 24px;
  }
  .intro-wrap .section5 .box .text-box {
    padding: 10px 24px;
  }
  .intro-wrap .section5 .box .text-box li {
    font-size: 20px;
  }
  .intro-wrap .section6 .flex {
    gap: 24px;
  }
}
/* ===== 두번째 분기: 1200px ===== */
@media (max-width: 1200px) {
  .intro-wrap .section4 .box-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .intro-wrap .section6 .flex {
    gap: 16px;
  }
  .intro-wrap .section6 .box {
    height: 258px;
    padding: 30px;
    align-items: flex-start;
  }
  .intro-wrap .section6 .box img {
    top: auto;
    bottom: 40px;
  }
}
/* ===== 세번째 분기: 1024px ===== */
@media (max-width: 1024px) {
  .intro-wrap .section {
    margin-top: 100px;
  }
  .intro-wrap .title-box h2 {
    font-size: 36px;
  }
  .intro-wrap .title-box p {
    font-size: 18px;
  }
  .intro-wrap .section1 {
    margin-top: 0;
  }
  .intro-wrap .section1 .text-box {
    margin-top: 50px;
  }
  .intro-wrap .section1 .text-box h2 {
    font-size: 40px;
  }
  .intro-wrap .section2 .flex {
    align-items: center;
  }
  .intro-wrap .section2 .text-box h2 {
    font-size: 40px;
  }
  .intro-wrap .section2 .text-box p {
    font-size: 20px;
  }
  .intro-wrap .section2 .img-box {
    width: auto;
    text-align: right;
    flex-shrink: 1;
  }
  .intro-wrap .section2 .img-box img {
    width: 80%;
  }
  .intro-wrap .section3 .img-box {
    height: auto;
    padding: 80px 20px;
    margin-top: 50px;
  }
  .intro-wrap .section4 {
    padding: 100px 0;
  }
  .intro-wrap .section4 .title-box p {
    font-size: 18px;
  }
  .intro-wrap .section4 .box-wrap {
    margin-top: 50px;
  }
  .intro-wrap .section5 {
    margin-top: 0;
  }
  .intro-wrap .section5 .flex {
    flex-direction: column;
    margin-top: 50px;
  }
  .intro-wrap .section5 .box .img-box {
    flex-shrink: 0;
    width: 200px;
  }
  .intro-wrap .section6 .flex {
    margin-top: 50px;
  }
  .intro-wrap .section7 h3 {
    margin-top: 50px;
  }
  .intro-wrap .section8 .card-wrap {
    margin-top: 50px;
    gap: 24px;
    flex-wrap: wrap;
  }
  .intro-wrap .section8 .card-item {
    width: calc(50% - 20px);
  }
  .intro-wrap .section8 .card-item h3 {
    font-size: 30px;
    line-height: 1.2;
    margin-top: 20px;
  }
  .intro-wrap .section8 .card-item .img-box img {
    width: 100%;
  }
  .intro-wrap .section8 .card-item .img-box p {
    font-size: 36px;
  }
  .intro-wrap .section8 .card-item .img-box p span {
    font-size: 40px;
  }
}
/* ===== 네번째 분기: 767px ===== */
@media (max-width: 767px) {
  .intro-wrap .title-box h2 {
    font-size: 30px;
  }
  .intro-wrap .section1 {
    margin-top: 0;
  }
  .intro-wrap .section1 .text-box {
    margin-top: 30px;
  }
  .intro-wrap .section1 .text-box h2 {
    font-size: 30px;
    line-height: 1.2;
  }
  .intro-wrap .section2 .text-box h2 {
    font-size: 30px;
    line-height: 1.2;
  }
  .intro-wrap .section2 .text-box p {
    font-size: 18px;
    margin-top: 10px;
  }
  .intro-wrap .section2 .img-box {
    text-align: center;
  }
  .intro-wrap .section3 .img-box {
    padding: 50px 20px;
    margin-top: 30px;
  }
  .intro-wrap .section4 .box-wrap {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }
  .intro-wrap .section4 .box h3 {
    font-size: 24px;
  }
  .intro-wrap .section5 .flex {
    margin-top: 30px;
  }
  .intro-wrap .section5 .box .img-box {
    width: 180px;
  }
  .intro-wrap .section5 .box .img-box img {
    width: 100px;
    height: 100px;
  }
  .intro-wrap .section5 .box .img-box h3 {
    font-size: 18px;
  }
  .intro-wrap .section5 .box .text-box li {
    font-size: 18px;
  }
  .intro-wrap .section5 .box .text-box li + li {
    margin-top: 10px;
  }
  .intro-wrap .section6 .flex {
    margin-top: 30px;
    flex-direction: column;
  }
  .intro-wrap .section6 .box {
    height: 150px;
    align-items: flex-end;
  }
  .intro-wrap .section6 .box h3 {
    font-size: 24px;
  }
  .intro-wrap .section6 .box p {
    font-size: 12vw;
  }
  .intro-wrap .section6 .box img {
    width: 140px;
  }
  .intro-wrap .section7 h3 {
    font-size: 24px;
    margin-top: 30px;
  }
  .intro-wrap .section7 .table-wrap colgroup col:first-child {
    width: 100px !important;
  }
  .intro-wrap .section7 table thead th {
    font-size: 16px;
  }
  .intro-wrap .section7 table tbody th,
  .intro-wrap .section7 table tbody td {
    font-size: 14px;
  }
  .intro-wrap .section8 .card-wrap {
    margin-top: 30px;
  }
  .intro-wrap .section8 .card-item h3 {
    font-size: 24px;
    margin-top: 10px;
  }
  .intro-wrap .section8 .card-item .img-box p {
    font-size: 32px;
    line-height: 1;
  }
  .intro-wrap .section8 .card-item .img-box p span {
    font-size: 40xx;
  }
}
/* ===== 다섯번째 분기: 500px ===== */
@media (max-width: 500px) {
  .intro-wrap .title-box h2 {
    font-size: 24px;
  }
  .intro-wrap .title-box p {
    font-size: 16px;
  }
  .intro-wrap .section1 .text-box {
    margin-top: 20px;
  }
  .intro-wrap .section1 .text-box h2 {
    font-size: 24px;
  }
  .intro-wrap .section2 .flex {
    flex-direction: column;
  }
  .intro-wrap .section2 .text-box h2 {
    font-size: 24px;
  }
  .intro-wrap .section2 .text-box p {
    font-size: 16px;
  }
  .intro-wrap .section2 .img-box {
    margin: 0 auto;
    margin-top: 20px;
  }
  .intro-wrap .section2 .img-box img {
    width: 50%;
  }
  .intro-wrap .section4 .box-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .intro-wrap .section5 .box {
    flex-direction: column;
  }
  .intro-wrap .section5 .box .img-box {
    width: 100%;
    border-radius: 10px 10px 0 0;
    flex-direction: row;
    justify-content: flex-start;
  }
  .intro-wrap .section5 .box .img-box img {
    width: 80px;
    height: 80px;
  }
  .intro-wrap .section5 .box .text-box {
    border-radius: 0 0 10px 10px;
    flex: 1;
  }
  .intro-wrap .section7 h3 {
    font-size: 20px;
  }
  .intro-wrap .section8 .card-item {
    flex: 0 0 300px;
  }
  .intro-wrap .section8 .card-item .img-box {
    width: 300px;
    height: 300px;
  }
}