@charset "UTF-8";
/* =========== =========== =========== */
/* =========== Typhogragh =========== */
/* =========== =========== =========== */
.heading-1 {
  font-size: 48px;
  font-weight: 700;
}

.heading-2 {
  font-size: 32px;
  font-weight: 700;
}

.heading-3 {
  font-size: 24px;
  font-weight: 600;
}

.body-1 {
  font-size: 24px;
  font-weight: 500;
}

.body-2 {
  font-size: 18px;
  font-weight: 400;
}

.body-3 {
  font-size: 16px;
  font-weight: 400;
}

.body-4 {
  font-size: 14px;
  font-weight: 400;
}

.caption-1 {
  font-size: 14px;
  font-weight: 400;
}

.caption-1 {
  font-size: 12px;
  font-weight: 400;
}

/* media */
/* ===== 세번째 분기: 1024px ===== */
/* ===== 네번째 분기: 767px ===== */
/* ===== 다섯번째 분기: 500px ===== */
.main-wrap {
  overflow: hidden;
}
.main-wrap #footer {
  margin-top: 100px;
}
.main-wrap .section {
  margin-top: 200px;
}
.main-wrap main {
  overflow: hidden;
}
.main-wrap .section1 {
  margin-top: 0;
}
.main-wrap .section1 .container {
  position: relative;
}
.main-wrap .section1 .login-box {
  position: absolute;
  right: 80px;
  top: 410px;
  z-index: 10;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  display: flex;
}
.main-wrap .section1 .login-box.check-out .img-box {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.main-wrap .section1 .login-box.check-out .img-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-wrap .section1 .login-box.check-out .img-box + p {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-darken);
  text-align: center;
}
.main-wrap .section1 .login-box.check-out .btn {
  padding: 11px 48px;
  color: var(--color-white);
}
.main-wrap .section1 .login-box.check-out .link-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}
.main-wrap .section1 .login-box.check-out .link-wrap a {
  font-size: 20px;
  color: var(--gray-700);
}
.main-wrap .section1 .login-box.check-out .link-wrap .bar {
  width: 1px;
  height: 16px;
  display: block;
  background-color: var(--gray-700);
}
.main-wrap .section1 .login-box.check-in .top-box {
  display: flex;
  align-items: center;
  gap: 12px;
}
.main-wrap .section1 .login-box.check-in .top-box .img-box {
  width: 80px;
  height: 80px;
  margin: 0;
}
.main-wrap .section1 .login-box.check-in .top-box h4 {
  font-size: 24px;
  font-weight: 600;
}
.main-wrap .section1 .login-box.check-in .join-list {
  border-radius: 20px;
  background-color: var(--gray-200);
  padding: 30px;
  height: 160px;
  overflow-y: auto;
}
.main-wrap .section1 .login-box.check-in .join-list p {
  font-size: 18px;
  font-weight: 400;
  color: var(--gray-500);
}
.main-wrap .section1 .login-box.check-in .list-itembox a {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}
.main-wrap .section1 .login-box.check-in .list-itembox a:hover {
  text-decoration: underline;
  font-weight: 700;
}
.main-wrap .section1 .login-box.check-in .list-itembox a + a {
  margin-top: 20px;
}
.main-wrap .section1 .login-box.check-in .btn {
  min-width: 220px;
  font-size: 18px;
}
.main-wrap .section1 .swiper {
  padding-top: 40px;
  position: relative;
}
.main-wrap .section1 .swiper .swiper-slide {
  border-radius: 50px;
  overflow: hidden;
  height: 718px;
  display: flex;
}
.main-wrap .section1 .swiper .swiper-slide .visual-pc {
  display: block;
}
.main-wrap .section1 .swiper .swiper-slide .visual-mobile {
  display: none;
}
.main-wrap .section1 .swiper .img-box {
  width: 717px;
  padding-top: 60px;
}
.main-wrap .section1 .swiper .img-box img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-wrap .section1 .swiper .text-box {
  width: 590px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: 80px;
  flex-shrink: 0;
}
.main-wrap .section1 .swiper .text-box h3 {
  font-size: 48px;
  font-weight: 700;
}
.main-wrap .section1 .swiper .text-box h3 span {
  background: linear-gradient(180deg, #FF9A0C 0%, #861C7F 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 56px;
  font-weight: 700;
}
.main-wrap .section1 .swiper .text-box p {
  font-size: 24px;
  font-weight: 600;
  color: var(--gray-700);
}
.main-wrap .section1 .section1-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  bottom: 94px;
  left: 102px;
}
.main-wrap .section1 .section1-controls .capsule {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px 18px;
  border-radius: 20px;
  background: rgba(128, 127, 126, 0.3);
}
.main-wrap .section1 .section1-controls .dots {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.main-wrap .section1 .section1-controls .dots .dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: var(--color-white);
  border: 0;
  margin: 0;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
  outline: none;
  opacity: 1;
}
.main-wrap .section1 .section1-controls .dots .dot.swiper-pagination-bullet-active {
  width: 18px;
}
.main-wrap .section1 .section1-controls .dots .dot:focus-visible {
  box-shadow: 0 0 0 2px rgba(var(--color-darken-rgb, 0.2));
}
.main-wrap .section1 .section1-controls .toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
}
.main-wrap .section1 .section1-controls .toggle .icon {
  width: 11px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrap .section1 .section1-controls .toggle .icon:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
}
.main-wrap .section1 .section1-controls .toggle .icon-slider-play {
  display: none;
  width: 12px;
  height: 12px;
}
.main-wrap .section1 .section1-controls .toggle .icon-slider-play:before {
  background-image: url("../../../static/images/icon/icon-slider-play.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.main-wrap .section1 .section1-controls .toggle .icon-slider-pause {
  display: inline-block;
}
.main-wrap .section1 .section1-controls .toggle .icon-slider-pause:before {
  background-image: url("../../../static/images/icon/icon-slider-pause.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.main-wrap .section1 .section1-controls .toggle:focus-visible {
  outline: 2px solid rgba(255, 255, 255, 0.6);
  outline-offset: 3px;
}
.main-wrap .section1 .section1-controls.is-paused .toggle .icon-slider-pause {
  display: none;
}
.main-wrap .section1 .section1-controls.is-paused .toggle .icon-slider-play {
  display: inline-block;
}
.main-wrap .section2 .transform-txt {
  text-align: center;
  line-height: 90px;
}
.main-wrap .section3 {
  margin-top: 100px;
}
.main-wrap .section3 .box {
  width: 100%;
  height: 597px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
}
.main-wrap .section3 .box video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-wrap .section4 .flex {
  justify-content: space-between;
}
.main-wrap .section4 .btn-link {
  margin-top: 50px;
}
.main-wrap .section4 .text-box {
  width: 500px;
}
.main-wrap .section4 .text-box h2 {
  font-size: 60px;
  font-weight: 700;
}
.main-wrap .section4 .text-box h3 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 24px;
}
.main-wrap .section4 .text-box p {
  font-size: 18px;
  color: var(--gray3);
}
.main-wrap .section4 .img-box {
  width: 736px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 56px;
}
.main-wrap .section4 .img-box .box {
  height: 340px;
  background-color: var(--color-white);
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  overflow: hidden;
}
.main-wrap .section4 .img-box .box .card-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.main-wrap .section4 .img-box .box p {
  font-size: 32px;
  font-weight: 700;
  color: var(--gray-800);
  line-height: 50px;
}
.main-wrap .section4 .img-box .box .round {
  min-width: 186px;
  height: 50px;
  border-radius: 25px;
  padding: 0 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--color-darken);
  color: var(--color-white);
  font-size: 28px;
}
.main-wrap .section4 .img-box .box .etc {
  width: 100%;
  font-size: 32px;
  line-height: 1.5;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: var(--gray6);
  color: var(--color-darken);
  border-radius: 25px;
  text-align: center;
  padding: 12px 0;
}
.main-wrap .section4 .img-box .box img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-wrap .section5 .flex {
  justify-content: space-between;
}
.main-wrap .section5 .img-box {
  width: 700px;
  border-radius: 30px;
  overflow: hidden;
}
.main-wrap .section5 .img-box img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-wrap .section5 .text-box h2 {
  font-size: 60px;
  font-weight: 700;
}
.main-wrap .section5 .text-box h3 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 24px;
}
.main-wrap .section5 .text-box p {
  font-size: 18px;
  color: var(--gray3);
}
.main-wrap .section5 .step-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
}
.main-wrap .section5 .step-box div {
  width: 110px;
  height: 110px;
  border: 1px solid var(--color-darken);
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
}
.main-wrap .section5 .step-box div p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  color: var(--gray1);
}
.main-wrap .section5 .step-box div span {
  font-weight: 400;
}
.main-wrap .section5 .step-box .icon {
  width: 18px;
  height: 12px;
}
.main-wrap .section5 .step-box .icon:before {
  background-image: url("../../../static/images/icon/pol-triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main-wrap .section5 .btn-link {
  margin-top: 50px;
}
.main-wrap .section6 .inner {
  padding: 60px 60px 0;
  position: relative;
}
.main-wrap .section6 .inner::after {
  width: 100%;
  height: 480px;
  border-radius: 32px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: var(--gray6);
  z-index: -1;
}
.main-wrap .section6 .filter-box {
  display: flex;
  align-items: center;
}
.main-wrap .section6 .filter-box p {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 700;
  color: var(--gray1);
  flex-shrink: 0;
}
.main-wrap .section6 .filter-box .filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-left: auto;
}
.main-wrap .section6 .filter-box .filter button {
  height: 50px;
  min-width: 90px;
  border: 1px solid var(--line);
  font-size: 20px;
  border-radius: 8px;
  padding: 0 24px;
  background-color: var(--color-white);
  color: var(--gray3);
  font-weight: 500;
}
.main-wrap .section6 .filter-box .filter button.active {
  border: 0;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 700;
}
.main-wrap .section6 .swiper {
  max-width: 1300px;
  margin-top: 20px;
}
.main-wrap .section6 .swiper-wrapper {
  margin-top: 20px;
}
.main-wrap .section6 .swiper-slide {
  width: 400px;
  min-height: 460px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 40px;
  overflow: hidden;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrap .section6 .swiper-slide:hover .img-box::after {
  opacity: 1;
}
.main-wrap .section6 .swiper-slide .img-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.main-wrap .section6 .swiper-slide .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s;
}
.main-wrap .section6 .swiper-slide .img-box::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  transition: all 0.4s;
}
.main-wrap .section6 .swiper-slide h3 {
  font-size: 50px;
  color: var(--color-white);
  font-weight: 800;
  padding: 0 30px;
}
.main-wrap .section6 .swiper-controls {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
  margin-top: 10px;
}
.main-wrap .section6 .swiper-pagination {
  font-size: 18px;
  color: var(--color-darken);
  position: static;
  width: auto;
  font-weight: 500;
}
.main-wrap .section6 .swiper-pagination .slash {
  margin: 0 6px;
  opacity: 0.6;
}
.main-wrap .section6 .swiper-pagination-current {
  color: var(--color-darken);
  font-weight: 700;
}
.main-wrap .section6 .swiper-button-next,
.main-wrap .section6 .swiper-button-prev {
  position: static;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background: #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}
.main-wrap .section6 .swiper-button-next::after,
.main-wrap .section6 .swiper-button-prev::after {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}
.main-wrap .section6 .swiper-button-next.swiper-button-disabled,
.main-wrap .section6 .swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: not-allowed;
}
.main-wrap .section7 {
  padding-bottom: 10px;
}
.main-wrap .section7 .title-box {
  display: flex;
  align-items: center;
}
.main-wrap .section7 .title-box h2 {
  font-size: 48px;
  font-weight: 700;
}
.main-wrap .section7 .title-box .btn-link {
  margin-left: auto;
}
.main-wrap .section7 .list-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 60px;
}
.main-wrap .section7 .list-item {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 30px 50px;
  border-radius: 15px;
  background: var(--color-white);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}
.main-wrap .section7 .list-item .badge {
  min-width: 90px;
  flex-shrink: 0;
}
.main-wrap .section7 .list-item .title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  transition: all 0.4s;
}
.main-wrap .section7 .list-item .date {
  margin-left: auto;
  position: relative;
  padding-left: 40px;
  font-weight: 400;
  width: 170px;
  text-align: center;
  flex-shrink: 0;
}
.main-wrap .section7 .list-item .date:before {
  content: "";
  width: 1px;
  height: 46px;
  display: block;
  background-color: var(--line);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main-wrap .btn-link {
  width: 246px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  border-radius: 12px;
  background-color: var(--color-darken);
  color: var(--color-white);
  font-size: 24px;
  font-weight: 800;
  gap: 48px;
  flex-shrink: 0;
}
.main-wrap .btn-link .icon {
  width: 24px;
  height: 24px;
}
.main-wrap .btn-link .icon.right:before {
  background-image: url("../../../static/images/icon/chevron-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main-wrap .transform-txt {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: -0.05em;
}
.main-wrap .transform-txt span {
  color: rgba(0, 0, 0, 0.2);
}
.main-wrap .badge {
  padding: 8px 20px;
}

[data-theme=dark] {
  --gray1: #ccc;
  --gray2: #aaa;
  --gray3: #999;
  --gray4: #777;
  --gray5: #1f1f1f;
  --gray6: #0a0a0a;
  --line: #333;
}
[data-theme=dark] .section1 .login-box {
  border: 1px solid var(--color-darken);
}
[data-theme=dark] .section1 .login-box .btn {
  color: var(--color-darken);
}
[data-theme=dark] .section1 .login-box .link-wrap a {
  color: var(--color-darken);
}
[data-theme=dark] .section4 .img-box .box {
  border: 1px solid var(--color-darken);
}
[data-theme=dark] .section4 .img-box .box .etc {
  border: 1px solid var(--color-darken);
}
[data-theme=dark] .section6 .swiper-slide .title,
[data-theme=dark] .section6 .swiper-slide h3,
[data-theme=dark] .section6 .swiper-slide li {
  color: var(--color-darken);
}
[data-theme=dark] .section6 .swiper-button-prev,
[data-theme=dark] .section6 .swiper-button-next {
  border: 1px solid var(--color-darken);
}
[data-theme=dark] .section7 .list-item {
  border: 1px solid var(--color-darken);
}
[data-theme=dark] .btn-link .icon.right:before {
  filter: brightness(0) saturate(100%);
}

/* ===== 첫 분기: 1430px ===== */
@media (max-width: 1430px) {
  .main-wrap .section1 .swiper .swiper-slide {
    height: 100%;
  }
  .main-wrap .section1 .swiper .img-box {
    padding-top: 0;
    margin: 0;
  }
  .main-wrap .section1 .swiper .text-box {
    width: auto;
    margin-top: 80px;
    margin-right: 50px;
    margin-left: 50px;
  }
  .main-wrap .section1 .swiper .text-box h3 {
    font-size: 32px;
    font-weight: 700;
  }
  .main-wrap .section1 .swiper .text-box h3 span {
    font-size: 40px;
  }
  .main-wrap .section1 .section1-controls {
    bottom: 50px;
    left: 50px;
  }
  .main-wrap .section1 .login-box.check-out {
    top: 55%;
  }
  .main-wrap .section1 .login-box.check-in {
    top: 55%;
    right: 50px;
  }
  .main-wrap .section1 .login-box.check-in .btn-wrap {
    gap: 10px;
  }
  .main-wrap .section1 .login-box.check-in .btn {
    width: 50%;
  }
  .main-wrap .section3 .box {
    height: auto;
  }
  .main-wrap .section3 .box video {
    width: 100%;
    height: auto;
  }
  .main-wrap .section4 .flex {
    gap: 60px;
  }
  .main-wrap .section4 .text-box {
    width: 100%;
  }
  .main-wrap .section4 .text-box h2 {
    font-size: 48px;
  }
  .main-wrap .section4 .text-box h2 br {
    display: none;
  }
  .main-wrap .section4 .img-box {
    width: 100%;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .main-wrap .section4 .img-box .box {
    padding: 20px;
    border-radius: 20px;
  }
  .main-wrap .section4 .img-box .box .card-top {
    max-width: 200px;
    margin: 0 auto;
  }
  .main-wrap .section4 .img-box .box p {
    font-size: 30px;
  }
  .main-wrap .section4 .img-box .box .round {
    width: 100%;
    min-width: auto;
    height: auto;
    border-radius: 50px;
    font-size: 24px;
    padding: 10px 20px;
  }
  .main-wrap .section4 .img-box .box .etc {
    border-radius: 20px;
    font-size: 24px;
  }
  .main-wrap .section5 .flex {
    flex-direction: column-reverse;
    gap: 0px;
  }
  .main-wrap .section5 .img-box {
    width: 30%;
    margin-left: auto;
    margin-top: -200px;
    border-radius: 0;
  }
  .main-wrap .section5 .img-box img {
    border-radius: 50px;
  }
  .main-wrap .section5 .text-box {
    flex-shrink: 0;
  }
  .main-wrap .section5 .text-box h2 {
    font-size: 48px;
  }
  .main-wrap .section5 .text-box h2 br {
    display: none;
  }
  .main-wrap .section6 .inner {
    padding: 40px 40px 0;
  }
  .main-wrap .section6 .filter-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .main-wrap .section6 .swiper {
    margin-top: 0;
  }
  .main-wrap .section6 .swiper-slide h3 {
    font-size: 40px;
  }
}
/* ===== 두번째 분기: 1200px ===== */
@media (max-width: 1200px) {
  .main-wrap .section1 .swiper .swiper-slide {
    flex-direction: column;
  }
  .main-wrap .section1 .swiper .img-box {
    width: 100%;
    text-align: right;
  }
  .main-wrap .section1 .swiper .img-box img {
    width: 50%;
  }
  .main-wrap .section1 .swiper .text-box {
    margin-top: 0;
    width: calc(100% - 430px);
  }
  .main-wrap .section1 .login-box.check-in {
    right: 30px;
  }
  .main-wrap .section4 .img-box .box {
    height: 300px;
  }
  .main-wrap .section4 .img-box .box p {
    font-size: 30px;
  }
  .main-wrap .section4 .img-box .box .round {
    font-size: 20px;
  }
  .main-wrap .section4 .img-box .box .etc {
    border-radius: 20px;
    font-size: 20px;
  }
  .main-wrap .section4 .img-box .box img {
    width: 80%;
  }
}
/* ===== 세번째 분기: 1024px ===== */
@media (max-width: 1024px) {
  .main-wrap .section {
    margin-top: 100px;
  }
  .main-wrap #footer {
    margin-top: 0;
  }
  .main-wrap .section1 {
    margin-top: 0;
  }
  .main-wrap .section1 .swiper {
    padding-top: 20px;
  }
  .main-wrap .section1 .swiper .swiper-slide {
    border-radius: 24px;
  }
  .main-wrap .section1 .swiper .swiper-slide .visual-pc {
    display: none;
  }
  .main-wrap .section1 .swiper .swiper-slide .visual-mobile {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-wrap .section1 .swiper .img-box {
    width: 100%;
    margin: 0 auto;
    text-align: right;
  }
  .main-wrap .section1 .swiper .img-box img {
    width: auto;
    height: 30vh;
  }
  .main-wrap .section1 .swiper .text-box {
    margin: 0;
    width: 100%;
  }
  .main-wrap .section1 .swiper .text-box h3 br {
    display: none;
  }
  .main-wrap .section1 .login-box {
    padding: 30px;
    border-radius: 24px;
  }
  .main-wrap .section1 .login-box.check-out {
    display: none !important;
  }
  .main-wrap .section1 .login-box.check-in {
    position: static;
    width: 100%;
    margin-top: 50px;
  }
  .main-wrap .section1 .login-box.check-in .top-box h4 {
    font-size: 18px;
    font-weight: 400;
  }
  .main-wrap .section1 .login-box.check-in .join-list {
    padding: 15px;
    height: 150px;
  }
  .main-wrap .section1 .login-box.check-in .list-itembox a + a {
    margin-top: 10px;
  }
  .main-wrap .section1 .login-box.check-in .btn-wrap {
    flex-shrink: 0;
  }
  .main-wrap .section2 .transform-txt {
    font-size: 48px;
    line-height: 1.5;
  }
  .main-wrap .section3 .box {
    border-radius: 24px;
  }
  .main-wrap .section4 .flex {
    flex-direction: column;
  }
  .main-wrap .section4 .img-box {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .main-wrap .section4 .img-box .box {
    height: auto;
    display: flex;
    align-items: flex-start;
    padding: 20px 20px 0;
  }
  .main-wrap .section4 .img-box .box .card-top {
    margin: 0;
    margin-bottom: 20px;
    min-width: 150px;
  }
  .main-wrap .section4 .img-box .box p {
    font-size: 24px;
  }
  .main-wrap .section4 .img-box .box .round {
    font-size: 20px;
  }
  .main-wrap .section4 .img-box .box .etc {
    width: 150px;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .main-wrap .section4 .img-box .box img {
    width: 160px;
    left: auto;
    right: 0;
    transform: none;
  }
  .main-wrap .section5 .img-box {
    display: none;
  }
  .main-wrap .section5 .step-box {
    justify-content: center;
  }
  .main-wrap .section6 .swiper-slide {
    width: 330px;
    min-height: 400px;
  }
  .main-wrap .section6 .swiper-slide .img-box::after {
    opacity: 1;
  }
  .main-wrap .section7 .list-item {
    padding: 24px 32px;
  }
  .main-wrap .section7 .list-item .title {
    font-size: 20px;
    font-weight: 600;
  }
  .main-wrap .section7 .list-item .date {
    font-size: 20px;
    font-weight: 400;
    padding-left: 32px;
  }
  .main-wrap .btn-link {
    width: 198px;
    height: 68px;
    padding: 0 24px;
    gap: 0;
  }
  .main-wrap .btn-link .icon {
    margin-left: auto;
  }
}
/* ===== 네번째 분기: 767px ===== */
@media (max-width: 767px) {
  .main-wrap .btn-link {
    font-size: 20px;
    height: 56px;
    padding: 0 15px;
    gap: 24px;
    font-size: 18px;
  }
  .main-wrap .section1 {
    margin-top: 0;
  }
  .main-wrap .section1 .swiper .img-box {
    width: 100%;
  }
  .main-wrap .section1 .swiper .text-box {
    margin: 0;
    width: 100%;
  }
  .main-wrap .section1 .swiper .text-box h3 {
    font-size: 32px;
  }
  .main-wrap .section1 .swiper .text-box h3 span {
    font-size: 32px;
  }
  .main-wrap .section1 .swiper .text-box p {
    font-size: 18px;
  }
  .main-wrap .section1 .login-box {
    padding: 20px;
    gap: 0 30px;
  }
  .main-wrap .section1 .login-box.check-in {
    gap: 20px;
  }
  .main-wrap .section1 .login-box .btn-wrap {
    flex-direction: column;
  }
  .main-wrap .section1 .login-box .btn-wrap .btn {
    width: 100%;
  }
  .main-wrap .section1 .section1-controls {
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-wrap .section1 .section1-controls .capsule {
    height: auto;
    padding: 10px 18px;
  }
  .main-wrap .section2 .transform-txt {
    font-size: 32px;
  }
  .main-wrap .section4 .flex {
    gap: 50px;
  }
  .main-wrap .section4 .text-box h2 {
    font-size: 32px;
    line-height: 1.2;
  }
  .main-wrap .section4 .text-box h3 {
    font-size: 18px;
    margin-top: 12px;
  }
  .main-wrap .section4 .text-box p {
    font-size: 16px;
  }
  .main-wrap .section4 .img-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-wrap .section4 .img-box .box {
    text-align: left;
  }
  .main-wrap .section4 .img-box .box .card-top {
    width: 150px;
  }
  .main-wrap .section4 .img-box .box .round {
    min-width: 150px;
    padding: 10px 16px;
  }
  .main-wrap .section4 .img-box .box .etc {
    width: 150px;
    height: 96px;
    padding: 6px 10px;
  }
  .main-wrap .section4 .img-box .box img {
    width: 140px;
    right: 20px;
  }
  .main-wrap .section4 .img-box .box p {
    line-height: 1.5;
  }
  .main-wrap .section4 .btn-link {
    margin-top: 24px;
  }
  .main-wrap .section5 .text-box h2 {
    font-size: 32px;
    line-height: 1.2;
  }
  .main-wrap .section5 .text-box h3 {
    font-size: 18px;
    margin-top: 12px;
  }
  .main-wrap .section5 .text-box p {
    font-size: 16px;
  }
  .main-wrap .section5 .btn-link {
    margin-top: 24px;
  }
  .main-wrap .section5 .step-box {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 24px;
    gap: 20px;
    flex-wrap: wrap;
  }
  .main-wrap .section5 .step-box .icon {
    flex-shrink: 0;
  }
  .main-wrap .section5 .step-box div {
    min-height: 75px;
    padding: 10px;
  }
  .main-wrap .section5 .step-box div:nth-child(5) {
    margin-left: 20px;
  }
  .main-wrap .section6 .inner {
    padding: 20px 20px 0;
  }
  .main-wrap .section6 .filter-box .filter {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 0;
  }
  .main-wrap .section6 .filter-box .filter button {
    width: 100%;
    padding: 0;
  }
  .main-wrap .section6 .swiper-slide {
    width: 300px;
    min-width: 250px;
    border-radius: 30px;
  }
  .main-wrap .section6 .swiper-slide h3 {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-white);
  }
  .main-wrap .section7 .title-box h2 {
    font-size: 32px;
  }
  .main-wrap .section7 .list-box {
    margin-top: 50px;
  }
  .main-wrap .section7 .list-item {
    padding: 20px;
    gap: 20px;
  }
  .main-wrap .section7 .list-item .title {
    -webkit-line-clamp: 2;
  }
  .main-wrap .section7 .list-item .date {
    padding-left: 20px;
  }
}
/* ===== 다섯번째 분기: 500px ===== */
@media (max-width: 500px) {
  .main-wrap .section1 .swiper .text-box h3 {
    font-size: 20px;
  }
  .main-wrap .section1 .swiper .text-box h3 span {
    font-size: 20px;
  }
  .main-wrap .section1 .swiper .text-box p {
    font-size: 16px;
  }
  .main-wrap .section1 .section1-controls {
    bottom: 10px;
  }
  .main-wrap .section1 .login-box {
    gap: 10px;
    padding: 10px;
  }
  .main-wrap .section1 .login-box.check-in .top-box .img-box {
    width: 60px;
    height: 60px;
  }
  .main-wrap .section2 .transform-txt {
    font-size: 24px;
  }
  .main-wrap .section4 .flex {
    gap: 30px;
  }
  .main-wrap .section4 .text-box h2 {
    font-size: 24px;
  }
  .main-wrap .section4 .text-box h3 {
    font-size: 16px;
  }
  .main-wrap .section4 .text-box p {
    font-size: 14px;
  }
  .main-wrap .section4 .text-box .btn-link {
    margin-top: 12px;
    height: 48px;
    font-size: 16px;
  }
  .main-wrap .section4 .img-box {
    gap: 12px;
  }
  .main-wrap .section4 .img-box .box p {
    font-size: 18px;
    font-weight: 400;
    font-weight: 700;
  }
  .main-wrap .section4 .img-box .box .card-top {
    width: 120px;
    min-width: auto;
  }
  .main-wrap .section4 .img-box .box .round {
    width: 100%;
    min-width: auto;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
  }
  .main-wrap .section4 .img-box .box .etc {
    font-size: 18px;
    font-weight: 400;
    font-weight: 700;
    border-radius: 10px;
    width: 120px;
  }
  .main-wrap .section4 .img-box .box img {
    width: 100px;
  }
  .main-wrap .section5 .text-box h2 {
    font-size: 24px;
  }
  .main-wrap .section5 .text-box h3 {
    font-size: 16px;
  }
  .main-wrap .section5 .text-box p {
    font-size: 14px;
  }
  .main-wrap .section5 .text-box .btn-link {
    margin-top: 12px;
    height: 48px;
    font-size: 16px;
  }
  .main-wrap .section5 .step-box {
    gap: 10px;
  }
  .main-wrap .section6 .filter-box p {
    font-size: 24px;
  }
  .main-wrap .section6 .filter-box .filter button {
    height: 48px;
    min-width: 100%;
    font-size: 16px;
  }
  .main-wrap .section6 .swiper-slide {
    width: 80%;
    min-height: 25vh;
    min-width: auto;
  }
  .main-wrap .section6 .swiper-slide h3 {
    font-size: 24px;
    font-weight: 500;
    font-weight: 700;
    color: var(--color-white);
  }
  .main-wrap .section7 .title-box {
    flex-wrap: wrap;
  }
  .main-wrap .section7 .title-box h2 {
    font-size: 24px;
  }
  .main-wrap .section7 .title-box .btn-link {
    margin-top: 12px;
  }
  .main-wrap .section7 .list-item .title {
    font-size: 16px;
    font-weight: 600;
  }
  .main-wrap .section7 .list-item .date {
    font-size: 16px;
    font-weight: 400;
    width: 100px;
    padding-left: 10px;
  }
  .main-wrap .section7 .list-box {
    gap: 12px;
    margin-top: 30px;
  }
  .main-wrap .btn-link {
    width: 156px;
    height: 46px;
    gap: 10px;
  }
}